/* Stylize the company logos image */
#docs-content #logos {
  text-align: center;
  margin: 45px 0;
}

#docs-content #logos > img {
  display: inline-block;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
}


/* Show the list of steps as tiles */
#docs-content #process ol {
  display: block;
  list-style: none;
  padding: 0 15px;
  margin: 0;
  font-size: 18px;
}

#docs-content #process ol > li {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 15px 15px rgba(15, 28, 112, 0.1);
  margin: 20px 0;
  padding: 15px 15px 15px 25px;
  min-height: 90px;
  transition: transform .4s ease;
  cursor: default;
}

#docs-content #process ol > li:hover {
  transform: scale(1.02);
}

#docs-content #process ol > li p {
  margin: 0;
}

#docs-content #process ol > li::before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  min-width: 25px;
  font-size: 22px;
  text-align: center;
  line-height: 27px;
  margin: 0 25px 0 0;
}

#docs-content #process ol > li:nth-child(1)::before {
  content: "1";
}

#docs-content #process ol > li:nth-child(2)::before {
  content: "2";
}

#docs-content #process ol > li:nth-child(3)::before {
  content: "3";
}

#docs-content #process ol > li:nth-child(4)::before {
  content: "4";
}


/* Style the list on small screens */
@media only screen and (max-width: 500px) {
  #docs-content  #process ol > li {
    flex-direction: column;
  }

  #docs-content #process ol > li::before {
    margin: 0 0 20px 0;
  }
}
