@use "../../styles/variables" as *;

.toc {
  font-size: $tiny-font-size;

  &::before {
    content: 'On This Page';
    display: block;
    font-size: $text-font-size;
    margin-bottom: 1.3rem;
  }

  > a {
    display: block;
    padding: 1rem 1rem 1rem 0;
    color: $text-color;
    line-height: 1;
    white-space: nowrap;
    border-bottom: 1px solid transparentize($darker-blue, 0.85);

    &:hover {
      font-weight: 400;
      color: $link-color;
    }
  }
}
