body {
    margin: 0px;
}
.siteHeader {
    background-color: black;
    padding: 1.8rem 3% 0 3%;
    width: 100%;
    z-index: 100%;
    height: 82px !important;
  }
.redoc-wrap {
    background-color: white;
}
