@use "variables" as *;
@use "mixins" as *;

$selection-color: darken($light-purple, 5%);

.connect pre,
.connect code,
.connect samp,
.connect kbd {
  font-family: $code-font;
  font-size: $code-font-size;
  color: $darker-purple;
}

.connect code,
.connect kbd {
  display: inline-block;
  background-color: $lighter-purple;
  padding: ($tiny-vertical-space / 2) ($tiny-horizontal-space / 2);
}

.connect pre {
  @include styled-scrollbar;
  background: linear-gradient(to bottom, $lighter-purple, $lightest-purple 1000px);

  line-height: 1.5;
  display: block;
  position: relative;
  width: 100%;
  min-height: 6em;
  max-height: 45em;
  overflow: auto;
  margin-bottom: $medium-vertical-space;
  padding: $small-horizontal-space;
  border-radius: $small-border-radius;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  ::moz-selection,
  &::moz-selection {
    background-color: $selection-color;
  }

  ::selection,
  &::selection {
    background-color: $selection-color;
  }

  > code,
  > samp {
    padding: 0;
  }
}
