@use "variables" as *;

html {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;

  // Affects all rem-sized elements
  font-size: 10px;
}

body {
  font-family: $text-font;
  font-size: $text-font-size;
  font-weight: 300;
  line-height: 1.4;
  color: $text-color;
  background: $bg-color;

  //Make Search input accessible
  min-height: 100%;
  position: relative;
  z-index: -2;

  display: flex;
  flex-direction: column;
  font-family: $text-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 500;
  line-height: 1;
  color: $heading-color;
}

h1 {
  font-size: $h1-font-size;
  font-weight: 600;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin-top: 0;
  margin-bottom: $small-vertical-space;
}

a,
button {
  outline: 0;
}

a,
a code {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;

  // Different styles of links throughout the site change the color and/or border-color on hover.
  // Provide a smooth transition effect, rather than a sudden change
  transition-property: color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &:hover {
    color: $link-hover-color;
  }
}

hr {
  height: 0;
  margin-top: $small-vertical-space;
  margin-bottom: $small-vertical-space;
  border: 0;
  border-top: solid 1px $light-blue;
}

blockquote {
  padding: 0 0 0 $medium-horizontal-space;
  margin: $small-vertical-space $medium-horizontal-space;
  font-size: $h4-font-size;
  font-style: italic;
  border-left: 10px solid $light-blue;
}

ul,
ol,
dl {
  margin-bottom: $small-vertical-space;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: $medium-horizontal-space;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: $medium-horizontal-space;
}

li + li {
  margin-top: 0.25em;
}

ul li ul {
  list-style: circle;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

/**
 * Tablet & Laptop screens
 */
@media (min-width: $tablet-min-width) and (max-width: $laptop-max-width) {
  html {
    // Affects all rem-sized elements
    font-size: 9px;
  }
}

/**
 * Landscape phone screens
 */
@media (min-width: $phone-landscape-min-width) and (max-width: $phone-landscape-max-width) {
  html {
    // Affects all rem-sized elements
    font-size: 9px;
  }
}

/**
 * Phone screens
 */
@media (max-width: ($phone-landscape-min-width - 1px)) {
  html {
    // Affects all rem-sized elements
    font-size: 8.5px;
  }

  blockquote {
    margin: $small-vertical-space $small-horizontal-space;
  }
}
