@use "variables" as *;

// Creates a container that's horizontally centered
@mixin centered-content {
  width: 90%;
  max-width: $medium-content-width;
  margin: 0 auto;
}

// Creates a white box with a shadow that makes it appear to be floating above the page
@mixin box {
  background-color: $white;
  box-shadow: 0 25px 75px transparentize($darker-purple, .9);
}

// Creates a white box with a small shadow that makes it appear to be floating above the page
@mixin small-box {
  background-color: $white;
  box-shadow: 0 0 45px transparentize($darker-purple, .9);
}

// Creates a white box with a tiny shadow that makes it appear to be floating above the page
@mixin tiny-box {
  background-color: $white;
  box-shadow: 0 15px 15px transparentize($darker-purple, .9);
}

// Styles an element's scrollbars
@mixin styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color $scrollbar-bg-color;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &.visually-hidden {
    @include visually-hidden;
  }

  &::-webkit-resizer,
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track-piece {
    background-color: $scrollbar-bg-color;
    border-radius: $small-border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: $small-border-radius;
  }
}

// Hides content but keep it discoverable for accessibility/screen reader purposes
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
