@use "mixins" as *;

/**
 * Creates a container that's horizontally centered
 */
.connect .centered-content {
  @include centered-content;
}

/**
 * Styles an element's scrollbars
 */
.connect .styled-scrollbar {
  @include styled-scrollbar;
}

/**
 * Hides content but keep it discoverable for accessibility/screen reader purposes
 */
.connect .visually-hidden {
  @include visually-hidden;
}

/**
 * Hides content visually AND from screen readers
 */
.connect .hidden {
  display: none !important;
}

/**
 * Removes styling from lists that are only used for semantic meaning
 */
nav ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;

  > li,
  > li + li {
    display: block;
    margin: 0;
    padding: 0;
  }
}
