@use "../styles/variables" as *;

$badge-min-width: 70px;
$badge-max-width: 90px;
$badge-area-width: $badge-max-width + ($small-horizontal-space * 2);


.callout {
  position: relative;
  font-size: $small-font-size;
  font-style: normal;
  background-color: $light-purple;
  margin: $medium-vertical-space 0;
  padding: $small-vertical-space $small-horizontal-space $small-vertical-space $badge-area-width;
  border: solid 1px transparentize($blue, 0.8);
  border-radius: $small-border-radius;

  > p {
    // Reduce the spacing between paragraphs inside callouts
    margin-bottom: $small-vertical-space;
  }

  > :last-child {
    margin-bottom: 0;
  }

  &.success {
    border-color: transparentize($dark-green, 0.5);
    background-color: transparentize($green, 0.85);
  }

  &.warning {
    border-color: transparentize($orange, 0.5);
    background-color: transparentize($orange, 0.85);
  }

  &.danger {
    border-color: transparentize($red, 0.8);
    background-color: transparentize($light-red, 0.85);
  }
}

.badge {
  position: absolute;
  display: block;
  top: $small-vertical-space;
  left: $small-horizontal-space;
  min-width: $badge-min-width;
  max-width: $badge-max-width;
  overflow: hidden;
  font-family: $script-font;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: uppercase;
  color: $white;
  padding: $tiny-vertical-space $tiny-horizontal-space;
  border-radius: $large-border-radius;
  transition: transform .4s ease;

  &.info {
    background-color: $blue;
  }

  &.success {
    background-color: $dark-green;
  }

  &.warning {
    background-color: $light-red;
  }

  &.danger {
    background-color: $red;
  }
}

// Move the title up to fill-in the space from where the badge was
.title {
  margin-top: 0;
  margin-bottom: $tiny-vertical-space;
  font-size: $text-font-size;
}

/**
  * Small Phone screens
  */
@media (max-width: $phone-max-width) {
  .callout {
    padding-left: $small-horizontal-space;

    > p:first-child {
      strong:first-child,
      em:first-child,
      b:first-child,
      i:first-child {
        position: static;
        display: block;
        width: max-content;
        max-width: unset;
        margin-bottom: $small-vertical-space;
      }
    }
  }

  .title {
    margin-top: 0 !important;
  }
}
