@use "../styles/variables" as *;

$highlight-color: transparentize($medium-purple, .9);


.pre {
  padding: 0;
}

.codeBlock {
  display: block;
  cursor: text;
  padding: $small-vertical-space 0;
}

.lineNumber {
  &::before {
    content: attr(data-line-number);
    display: inline-block;
    width: 2em;
    height: 1.55em;
    text-align: right;
    color: #999;
    border-right: 1px solid #999;
    padding-right: $tiny-horizontal-space;
    margin-right: $tiny-horizontal-space;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.line {
  min-height: 1.55em;
  padding-left: $small-horizontal-space;

  &.highlight {
    background: $highlight-color;
    background: linear-gradient(to right, $highlight-color 70%, transparent 95%);
  }

  :global .comment,
  :global .prolog,
  :global .doctype,
  :global .cdata {
    color: slategray;
  }

  :global .punctuation {
    color: #999;
  }

  .namespace {
    opacity: .7;
  }

  :global .property,
  :global .tag,
  :global .boolean,
  :global .number,
  :global .constant,
  :global .symbol,
  :global .deleted {
    color: $dark-purple;
  }

  :global .selector,
  :global .attr-name,
  :global .string,
  :global .char,
  :global .builtin,
  :global .inserted {
    color: $darker-green;
  }

  :global .request-line {
    color: $darker-blue;
  }

  :global .operator,
  :global .entity,
  :global .url {
    color: #9a6e3a;
  }

  :global .atrule,
  :global .attr-value,
  :global .keyword {
    color: $blue;
  }

  :global .function,
  :global .class-name {
    color: $medium-purple;
  }

  :global .regex,
  :global .important,
  :global .variable {
    color: #e90;
  }

  :global .important,
  :global .bold {
    font-weight: bold;
  }

  :global .italic {
    font-style: italic;
  }

  :global .entity {
    cursor: help;
  }
}
