@use "../../styles/variables" as *;

$line-thickness: 3px;

.changelog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $large-vertical-space;

  &::before {
    content: "";
    display: block;
    width: $line-thickness;
    height: 5rem;
    background-color: $text-color;
  }

  > h2 {
    display: grid;
    grid-template-columns: 1fr .5fr $line-thickness .5fr 1fr;
    font-size: $h4-font-size;
    text-align: center;
    margin: 0;

    > a {
      display: none;
    }

    > a:first-of-type {
      align-self: center;
      display: inline-block;
      height: 1.5em;
      color: $link-color;
      border: solid 2px $link-color;
      border-radius: $large-border-radius;
      padding: $tiny-vertical-space $small-horizontal-space;

      &:hover {
        color: $link-hover-color;
        border-color: $link-hover-color;
        background-color: $light-purple;
      }
    }

    &::before {
      grid-row: 1;
      grid-column: 3;
      content: "";
      width: $line-thickness;
      height: 8rem;
      background-color: $text-color;
    }

    &::after {
      align-self: center;
      content: "";
      height: $line-thickness;
      background-color: $text-color;
    }

    &:nth-child(odd) {
      > a:first-of-type {
        grid-row: 1;
        grid-column: 1;
      }

      &::after {
        grid-row: 1;
        grid-column: 2;
      }
    }

    &:nth-child(even) {
      > a:first-of-type {
        grid-row: 1;
        grid-column: 5;
      }

      &::after {
        grid-row: 1;
        grid-column: 4;
      }
    }

    &:last-child {
      > a:first-of-type {
        grid-row: 2;
        grid-column: 2 / 5;
      }

      &::after {
        display: none;
      }
    }
  }
}


/**
  * Small Phone screens
  */
@media (max-width: $phone-max-width) {
  .changelog {
    &::before {
      display: none;
    }

    > h2 {
      > a:first-of-type {
        grid-row: 2 !important;
        grid-column: 2 / 5 !important;
      }

      &::before {
        height: 5rem;
      }

      &::after {
        display: none;
      }
    }
  }
}
