@use "variables" as *;

blockquote.alert {
  $badge-min-width: 70px;
  $badge-max-width: 90px;
  $badge-area-width: $badge-max-width + ($small-horizontal-space * 2);

  font-size: $small-font-size;
  font-style: normal;
  background-color: $light-purple;
  margin: $medium-vertical-space 0;
  border: none;
  border-radius: $small-border-radius;
  padding: $small-vertical-space $small-horizontal-space $small-vertical-space $badge-area-width;
  position: relative;

  .alert-badge {
    position: absolute;
    display: block;
    top: $small-vertical-space;
    left: $small-horizontal-space;
    min-width: $badge-min-width;
    max-width: $badge-max-width;
    overflow: hidden;
    font-family: $script-font;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    text-transform: uppercase;
    color: $white;
    background-color: $blue;
    padding: $tiny-vertical-space $tiny-horizontal-space;
    border-radius: $large-border-radius;

    &.success {
      background-color: $dark-green;
    }

    &.warning {
      background-color: $light-red;
    }

    &.danger {
      background-color: $red;
    }
  }

  // Move the alert's title up to fill-in the space from where the badge was
  > .alert-title {
    margin-top: -($small-vertical-space * .8) !important;
    font-size: $text-font-size;
  }

  > p {
    // Reduce the spacing between paragraphs inside alerts
    margin-bottom: $small-vertical-space;
  }

  > :last-child {
    margin-bottom: 0;
  }

  /**
   * Small Phone screens
   */
  @media (max-width: $phone-max-width) {
    padding-left: $small-horizontal-space;

    > p:first-child {
      strong:first-child,
      em:first-child,
      b:first-child,
      i:first-child {
        position: static;
        display: block;
        width: max-content;
        max-width: unset;
        margin-bottom: $small-vertical-space;
      }
    }

    > .alert-title {
      margin-top: 0 !important;
    }
  }
}
