@use "variables" as *;

/**
 * ShipEngine light theme for Prism.js
 */

pre, code, samp, kbd {
  color: $darker-purple;
}

code, kbd {
  background-color: $lighter-purple;
}

pre {
  $highlight-color: transparentize($medium-purple, .9);
  $selection-color: darken($light-purple, 5%);

  background: linear-gradient(to bottom, $lighter-purple, $lightest-purple 1000px);

  ::moz-selection,
  &::moz-selection {
    background-color: $selection-color;
  }

  ::selection,
  &::selection {
    background-color: $selection-color;
  }

  .line-numbers-rows {
    border-right: 1px solid #999;

    > span:before {
      color: #999;
    }
  }

  .line-highlight {
    background: $highlight-color;
    background: linear-gradient(to right, $highlight-color 60%, transparent);
  }

  .line-highlight:before,
  .line-highlight[data-end]:after {
    background-color: hsla(24, 20%, 50%,.4);
    color: hsl(24, 20%, 95%);
    background-color: $bright-purple;
    color: $white;
    box-shadow: 0 1px white;
  }
}

code {
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: slategray;
  }

  .token.punctuation {
    color: #999;
  }

  .namespace {
    opacity: .7;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: $dark-purple;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: $darker-green;
  }

  .token.request-line {
    color: $darker-blue;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #9a6e3a;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: $blue;
  }

  .token.function,
  .token.class-name {
    color: $medium-purple;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #e90;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}
