@use "../../styles/variables" as *;

.referenceListWrapper {
  &::before {
    content: 'Properties';
    font-weight: 400;
    color: $dark-purple;
    float: left;
  }
}

.referenceList {
  margin-left: $tiny-horizontal-space;

  > h3:first-child {
    margin-top: 1.5rem;
  }
}

.toggleLayout {
  display: block;
  text-align: right;
  border-bottom: 1px solid $dark-purple;
}

.listItemBody {
  margin-left: 0.5rem;
}

.small {
  font-weight: normal;
  white-space: nowrap;
}

.label {
  float: left;
  font-size: $small-font-size;
  margin-right: $tiny-horizontal-space;
}
