name: Manage Releases

on:
  issue_comment:
    types:
      - created

jobs:
  release:
    if: github.event.issue.pull_request && github.event.issue.user.id == github.event.comment.user.id && startsWith(github.event.comment.body, 'release')
    name: Prepare Release
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - id: validate
        name: Validate Inputs
        env:
          COMMENT: ${{ github.event.comment.body }}
        run: |
          set -x
          IFS=' '
          read -ra words <<< "${COMMENT}"
          set -- "${words[@]}"
          shift
          package_name=$1
          shift
          release_type=${1:-patch}
          if [[ -n "${package_name}" ]] && [[ "$(ls packages)" =~ "${package_name}" ]]; then
            echo "::set-output name=is_valid::true"
          else
            echo "::set-output name=is_valid::false"
            echo "::debug::Invalid package: ${package_name}"
          fi
          echo "::set-output name=package_name::${package_name}"
          echo "::set-output name=release_type::${release_type}"
        shell: bash

      - name: Alert
        if: steps.validate.outputs.is_valid == 'false'
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Invalid package name ${{ steps.validate.outputs.package_name }} in [comment](${{ github.event.comment.html_url }}).
          reactions: 'confused'

      - name: Install Node
        uses: actions/setup-node@v2
        if: steps.validate.outputs.is_valid == 'true'
        with:
          always-auth: true
          node-version: 14

      - name: Install dependencies
        if: steps.validate.outputs.is_valid == 'true'
        run: yarn install --frozen-lockfile

      - name: Increment version
        if: steps.validate.outputs.is_valid == 'true'
        working-directory: packages/${{ steps.validate.outputs.package_name }}
        run: |
          # Configure git for commits
          date > generated.txt
          git config user.name github-actions
          git config user.email github-actions@github.com
          # Increment package version
          yarn run release
        env:
          PACKAGE_NAME: ${{ steps.validate.outputs.package_name }}
          NPM_CONFIG_RELEASE_TYPE: ${{ steps.validate.outputs.release_type }}
