@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.codeToolbar {
  position: absolute;
  top: $small-vertical-space;
  right: $small-horizontal-space;
  z-index: $code-toolbar-z-index;

  button {
    margin-right: $tiny-horizontal-space;
    background-color: $lighter-purple;
    outline: 0;
    opacity: 0;

    &:hover {
      background-color: $white;
    }
  }
}

:global(:hover) > .codeToolbar {
  button {
    opacity: 1;
  }

  .languageList {
    border-color: transparentize($dark-purple, .8);
    background-image: url("../../public/img/icons/select-arrows.svg");
    padding-right: 40px;

    &::before {
      height: 15px;
      width: 15px;
      background-size: 15px 15px;
    }
  }
}

:global(span.select).languageList {
  display: inline-block;
  width: auto;
  background-color: $lighter-purple;

  // These properties change when the code sample is hovered
  border-color: $lighter-purple;
  background-image: unset;
  padding-right: 15px;
  font-size: $tiny-font-size;
  white-space: nowrap;

  &:hover {
    background-color: $white;
    border-color: $dark-purple !important;
  }

  .language {
    padding-left: 40px;
    background-size: 15px 15px;
    background-position: 10px 7px;
    background-repeat: no-repeat;
  }

  > :global(.select-label) {
    @include visually-hidden;
  }

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 3px;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  &.http::before,
  .language.http {
    background-image: url("../../public/img/logos/languages/http.svg?v=2");
  }

  &.curl::before,
  .language.curl {
    background-image: url("../../public/img/logos/languages/bash.svg?v=2");
  }

  &.csharp::before,
  .language.csharp {
    background-image: url("../../public/img/logos/languages/csharp.svg?v=2");
  }

  &.java::before,
  .language.java {
    background-image: url("../../public/img/logos/languages/java.svg?v=2");
  }

  &.javascript-fetch::before,
  .language.javascript-fetch {
    background-image: url("../../public/img/logos/languages/javascript.svg?v=2");
  }

  &.javascript::before,
  .language.javascript {
    background-image: url("../../public/img/logos/languages/javascript.svg?v=2");
  }

  &.json::before,
  .language.json {
    background-image: url("../../public/img/logos/languages/json.svg?v=2");
  }

  &.node-request::before,
  .language.node-request {
    background-image: url("../../public/img/logos/languages/nodejs.svg?v=2");
  }

  &.native::before,
  .language.native {
    background-image: url("../../public/img/logos/languages/go.svg?v=2");
  }

  &.php::before,
  .language.php {
    background-image: url("../../public/img/logos/languages/php.svg?v=2");
  }

  &.objectivec::before,
  .language.objectivec {
    background-image: url("../../public/img/logos/languages/objectivec.svg?v=2");
  }

  &.powershell::before,
  .language.powershell {
    background-image: url("../../public/img/logos/languages/powershell.svg?v=2");
  }

  &.python::before,
  .language.python {
    background-image: url("../../public/img/logos/languages/python.svg?v=2");
  }

  &.ruby::before,
  .language.ruby {
    background-image: url("../../public/img/logos/languages/ruby.svg?v=2");
  }

  &.swift::before,
  .language.swift {
    background-image: url("../../public/img/logos/languages/swift.svg?v=2");
  }

  &.typescript::before,
  .language.typescript {
    background-image: url("../../public/img/logos/languages/typescript.svg?v=2");
  }

  &.yaml::before,
  .language.yaml {
    background-image: url("../../public/img/logos/languages/yaml.svg?v=2");
  }
}
